{% extends 'base.html' %}

{% block content %}
    <h1>Meals for {{ selected_day }}</h1>

    <a href="{% url "date" yesterday %}">Yesterday</a> / <a href="{% url "date" today %}">Today</a> ({{ today }}) / <a href="{% url "date" tomorrow %}">Tomorrow</a>

    <br /><br />
    Blah Remaining
    <div class="progress" style="height: 5px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <br/><br/>
    <h1>Meals</h1>

    <p>Breakfast</p>
    {% for meal in meals %}
        {% if meal.daypart_associated == 'BR' %}
            <li>{{ meal.food.name }}</li>
        {% endif %}
    {% endfor %}

    <p>Dinner</p>
    <ul>
    {% for meal in meals %}
        {% if meal.daypart_associated == 'DN' %}
            <li>{{ meal.food.name }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}